// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
/* SCSS HEX */
$lion: #A28E4Fff;
$dark-green: #1F2A0Bff;
$dark-green-2: #232D0Fff;
$dark-moss-green: #414416ff;
$pakistan-green: #2D3712ff;
$black-olive: #384027ff;
$alabaster: #E8EBDFff;
